<!-- wp:template-part {"slug":"main-header","theme":"business-consulting-agency","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":"true","type":"constrained"}} -->
<main class="wp-block-group">

  <!-- wp:pattern {"slug":"business-consulting-agency/main-banner"} /-->
  <!-- wp:pattern {"slug":"business-consulting-agency/video-section"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"business-consulting-agency","tagName":"footer"} /-->