<!-- wp:template-part {"slug":"main-header","theme":"business-consulting-agency","tagName":"header"} /-->

<!-- wp:pattern {"slug":"business-consulting-agency/post-header-with-background"} /-->

<!-- wp:spacer {"height":"34px"} -->
<div style="height:34px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":""}} -->
<main class="wp-block-group"><!-- wp:template-part {"slug":"post-content","theme":"business-consulting-agency","tagName":"div"} /--></main>
<!-- /wp:group -->

<!-- wp:spacer {"height":"34px"} -->
<div style="height:34px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer-columns","theme":"business-consulting-agency","tagName":"footer"} /-->